:root {
    --margin-left: 50px;
}
section {
    display: flex;
    flex-direction: row;
    margin-left: var(--margin-left);
}

img {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 200px;
}

a div {
    width: 190px;
    height: 270px;
    background-image: url(./images/1020233368.webp);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    margin: var(--margin-left);
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

a:hover {
    border-bottom: 3px solid tomato;
}

a {
    margin-right: 40px;
    padding-left: 0px;
}